{% extends 'flatpages/index0.html' %}

{% block main %}
    <meta name="description" content="Опасность"/>
    <meta name="author" content="Виталий"/>
    <title>Опасность</title>
{% endblock main %}

{% block content %}
    <header class="mt-5">
        <div class="text-center">
            <h1 class="link-danger py-5 m-3"><b>Внимание!!!</b></h1>
            <hr>
            <h2>Вы пытаетесь проникнуть в опасную зону!<br>Вход запрещен без
                специальной подготовки!<br>Немедленно покиньте территорию!</h2>
        </div>
    </header>
    <div class="mt-5 mb-0 py-3">
        <p class="p-my">Или перейдите на страницу /admin и авторизуйтесь и заходите себе спокойно</p>
    </div>
{% endblock content %}