{% extends 'flatpages/index0.html' %}

{% block main %}
    <meta name="description" content="Вторая страница"/>
    <meta name="author" content="Виталий"/>
    <title>Вторая</title>
{% endblock main %}

{% block content %}
    {% load static %}
    <header class="mt-5">
        <div class="text-center">
            <h1 class="h1 py-5 m-3"><b>Эта вторая страница</b></h1>
        </div>
    </header>
    <div class="container col-8">
        <h2 class="position-absolute"><b>Краткая История:</b></h2>
    </div>
    <div class="container d-flex row-cols-2">
        <section class="mt-5">
            <p>Меня зовут {{ flatpage.content }}. До курсов я занимался всякой
                еруной: курил, спал, пил, наркотики употреблял, но после того
                как я записался на эти курсы, все как рукой сняло. Или это
                другая группа? Ладно, расскажу здесь. Теперь я не
                сплю, думаю только о том как закончить код и проект, если раньше
                я курил, то теперь нет сколько денег курить, потому что я курил
                только когда, нервничал, а сейчас - это уже обычное состояние.
                Наркотики остались в прошлом, потому как на них банально не
                хватает времени. Пить я перестал, потому что одному пить е
                хочется, а старые друзья которые были покинули меня, так как и
                стало не интересно со мной больше проводить время. Но я не
                унываю, ведь я скоро стану супер-мега-турбо-ультра
                программистом, буду очень много зарабатывать, столько что аж
                смогу купить себе новый компьютер, чтоб делать вообще супер
                большие проекты и зарабатывать ещё больше. И друзья появятся
                сразу, потому что же то за богатый человек, если нет рядом
                близких людей которые тянут деньги. С приветом {{ flatpage.content }}</p>
        </section>
        <section>
            <img src="{% static 'assets/skillfactory.png' %}" alt="Foto SF"/>
        </section>
    </div>
{% endblock content %}}